// Body
// $body-bg: #f8fafc;

$body-bg : #fefefe;

// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//for navbar
$navbar-nav-link-padding-x : 17px;
$navbar-padding-y: 15px;


