// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;0,900;1,300&display=swap');

// Variables
@import 'variables';

// Bootstrap icons
@import "bootstrap-icons/font/bootstrap-icons.css";

// Bootstrap
@import 'bootstrap/scss/bootstrap';
@import 'mdb-ui-kit/css/mdb.min.css';

.pagination > li > a,
.pagination > li > span {
    color: black; // use your own color here
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: black;
    border-color: black;
}

